In [1]:
import numpy as np
import pandas as pd

import scipy.stats as stats
from statsmodels.stats.proportion import proportions_ztest

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

### Data Decsription:
**MPG stands for miles per gallon and is used to show how far your car can travel for every gallon (or 4.55 litres) of fuel it uses.**
<br/>
Origin Values:
* 1: USA
* 2: Europ
* 3: Asia

In [2]:
colnames = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
            'acceleration', 'model year', 'origin', 'car name']

In [3]:
df = pd.read_csv('../../Datasets/auto_mpg/auto-mpg.data', names=colnames, delim_whitespace=True,
                 skipinitialspace=True)

In [7]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [8]:
df['origin'].value_counts()

1    249
3     79
2     70
Name: origin, dtype: int64

In [9]:
print('American cars mpg mean:', df.query('origin == 1')['mpg'].mean())
print('European cars mpg mean:', df.query('origin == 2')['mpg'].mean())
print('Asian    cars mpg mean:', df.query('origin == 3')['mpg'].mean())

American cars mpg mean: 20.083534136546184
European cars mpg mean: 27.89142857142857
Asian    cars mpg mean: 30.450632911392404

----------------------
**Its possible to make HT test with probability distribution tests instead of coding. there is a flowchart to choose propriate test based on available data and conditions**

## T Distribution Test

### 1) One Samlple t test - A One sample t-test tests the mean of a single group against a known mean.


**While a sample and reference (total) mean is available**

In [97]:
df_euro = df.query('origin == 2').copy()

In [98]:
df_others = df.query('origin==1 | origin==3').copy()
df_others['origin'].value_counts()

1    249
3     79
Name: origin, dtype: int64

In [99]:
df_euro.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
19,26.0,4,97.0,46.00,1835.0,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87.00,2672.0,17.5,70,2,peugeot 504
21,24.0,4,107.0,90.00,2430.0,14.5,70,2,audi 100 ls
22,25.0,4,104.0,95.00,2375.0,17.5,70,2,saab 99e
23,26.0,4,121.0,113.0,2234.0,12.5,70,2,bmw 2002

In [100]:
population_mean=df_others['mpg'].mean()
print(f'population mean: {population_mean:.2f}')

population mean: 22.58

In [101]:
# df =  degree of reedom 
t_satistic, pvalue = stats.ttest_1samp(a=df_euro['mpg'], popmean=population_mean)
print(f'pvalue: {pvalue:.10f}')

pvalue: 0.0000000068

------------------
### 2) Two Samlples (Independent) T test - An Independent Samples t-test compares the means for two groups.

In [103]:
t_satistic, pvalue = stats.ttest_ind(a=df_euro['mpg'], b=df_others['mpg'])
print(f'pvalue: {pvalue:.10f}')

pvalue: 0.0000001598

------------------
### 3) Releative T test
#### A Paired sample t-test compares means from the same group at different times (say, one year apart).