In [1]:
import numpy as np
import pandas as pd

import scipy.stats as stats
from statsmodels.stats.proportion import proportions_ztest

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## Data Description

**HR Job satisfaction/Attrition**
**Education:**
1 'Below College' 2 'College' 3 'Bachelor' 4 'Master' 5 'Doctor'

**EnvironmentSatisfaction:**
1 'Low' 2 'Medium' 3 'High' 4 'Very High'

**JobInvolvement:**
1 'Low' 2 'Medium' 3 'High' 4 'Very High'

**JobSatisfaction:**
1 'Low' 2 'Medium' 3 'High' 4 'Very High'

**PerformanceRating:**
1 'Low' 2 'Good' 3 'Excellent' 4 'Outstanding'

**RelationshipSatisfaction:**
1 'Low' 2 'Medium' 3 'High' 4 'Very High'

**WorkLifeBalance:**
1 'Bad' 2 'Good' 3 'Better' 4 'Best'

Acknowledgements
https://www.ibm.com/communities/analytics/watson-analytics-blog/watson-analytics-use-case-for-hr-retaining-valuable-employees/

In [2]:
df = pd.read_csv('../../Datasets/WA_Fn-UseC_-HR-Employee-Attrition.csv')

In [3]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [4]:
df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [5]:
df.isnull().any()

Age                         False
Attrition                   False
BusinessTravel              False
DailyRate                   False
Department                  False
DistanceFromHome            False
Education                   False
EducationField              False
EmployeeCount               False
EmployeeNumber              False
EnvironmentSatisfaction     False
Gender                      False
HourlyRate                  False
JobInvolvement              False
JobLevel                    False
JobRole                     False
JobSatisfaction             False
MaritalStatus               False
MonthlyIncome               False
MonthlyRate                 False
NumCompaniesWorked          False
Over18                      False
OverTime                    False
PercentSalaryHike           False
PerformanceRating           False
RelationshipSatisfaction    False
StandardHours               False
StockOptionLevel            False
TotalWorkingYears           False
TrainingTimesLastYear       False
WorkLifeBalance             False
YearsAtCompany              False
YearsInCurrentRole          False
YearsSinceLastPromotion     False
YearsWithCurrManager        False
dtype: bool

In [6]:
df['Attrition'].value_counts()

No     1233
Yes     237
Name: Attrition, dtype: int64

In [7]:
df['JobSatisfaction'].value_counts()

4    459
3    442
1    289
2    280
Name: JobSatisfaction, dtype: int64

In [8]:
overview = pd.crosstab(df['JobSatisfaction'], df['Attrition'], margins=True).T
overview

JobSatisfaction    1    2    3    4   All
Attrition
No               223  234  369  407  1233
Yes               66   46   73   52   237
All              289  280  442  459  1470

---------------
## Chi Square
**The Chi-Square test is a statistical procedure used by researchers to examine the differences between categorical variables in the same population. The Chi-Square test is most useful when analyzing cross tabulations of survey response data.**
<br/><br/>https://www.alchemer.com/resources/blog/introduction-to-chi-square-test-and-when-to-use-it/

\begin{equation}
X^2 = \sum{\frac{\displaystyle(O_i - E_i)^2} {E_i}} \\
X^2	=	\text{Chi squared}\\
O_i	=	\text{Observation value} \\
E_i	=	\text{Expected value} \\
\end{equation}

### Implement Formula:
**1- Calculate O and E values:**

In [9]:
# select yes/no values in each row 
observations = np.append(overview.iloc[0][:-1].values, overview.iloc[1][:-1].values)
observations

array([223, 234, 369, 407,  66,  46,  73,  52], dtype=int64)

In [10]:
# sum of yes/no attritions
row_sum = overview.iloc[0:2, 4].values
row_sum

array([1233,  237], dtype=int64)

In [11]:
overview.iloc[2, :-1].values

array([289, 280, 442, 459], dtype=int64)

In [12]:
# overview.loc['All', 'All']
total = overview.iloc[-1,-1]

In [13]:
# cacluate expected values for each element (probability of occurance for each element)
expected = []
for attr in range(2):
    for val in overview.iloc[2, :-1].values:
        exp = val * row_sum[attr] / total
        print(f'{val} * {row_sum[attr]} / {total} = {exp}')
        expected.append(exp)

289 * 1233 / 1470 = 242.4061224489796
280 * 1233 / 1470 = 234.85714285714286
442 * 1233 / 1470 = 370.7387755102041
459 * 1233 / 1470 = 384.99795918367346
289 * 237 / 1470 = 46.593877551020405
280 * 237 / 1470 = 45.142857142857146
442 * 237 / 1470 = 71.26122448979592
459 * 237 / 1470 = 74.00204081632653

**2- Putting values in the formula:**

In [14]:
# it is possible based on numpy abbilities:
chi2 = ((observations - expected) ** 2 / expected).sum()
print(f'Chi2 value = {chi2} \n\nfor evaluation must check with chi2 statistic table')

Chi2 value = 17.505077010348

for evaluation must check with chi2 statistic table

#### DOF: Degree of Freedom
**The number of independent pieces of information used to calculate the statistic is called the degrees of freedom.**<br/>
**<u>Variables which are free to vary in a dataset</u>**

\begin{equation}
D_f = N-1 \\
D_f	=	\text{Degree of Freedom} \\
N	=	\text{Sample Size} \\
\end{equation}

In [15]:
# dof = (row nums - 1) * (col nums -1) [of course without margins]
dof = (len(row_sum) - 1 ) * (len(overview.iloc[2,:-1]) - 1)
dof

3

In [16]:
# Total job satisfactions for each group (Horizontal margin) 
overview.iloc[2,:-1]

JobSatisfaction
1    289
2    280
3    442
4    459
Name: All, dtype: int64


### Chi2 with python libraries

In [17]:
pvalue = 1 - stats.chi2.cdf(chi2, dof)
print('p-value:', pvalue)

p-value: 0.000556300451038716

In [18]:
overview.iloc[:2,:-1]

JobSatisfaction    1    2    3    4
Attrition
No               223  234  369  407
Yes               66   46   73   52

In [19]:
#1
chisq, pvalue, dof, exp_freq = stats.chi2_contingency(observed=overview.iloc[:2, :-1], correction=True)
print(f'Chi2:{chisq},\np-value:{pvalue},\nDegree of Freedom:{dof}\n')
print('Expected Values:', exp_freq)

Chi2:17.505077010348,
p-value:0.0005563004510387556,
Degree of Freedom:3

Expected Values: [[242.40612245 234.85714286 370.73877551 384.99795918]
 [ 46.59387755  45.14285714  71.26122449  74.00204082]]

In [20]:
# 2
chisq, pvalue = stats.chisquare(f_obs=observations, f_exp=expected, ddof=dof)
print(f'Chi2:{chisq},\np-value:{pvalue}')

Chi2:17.505077010348,
p-value:0.001541482143508004

### Interpration:
**based on p-value and thresholds,Job Satisfaction has significant effect on Attrition**