In [1]:
import numpy as np
import pandas as pd
import statistics as st

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv('../../Datasets/AB-test/grocerywebsiteabtestdata.csv')

In [3]:
df.head()

   RecordID   IP Address  LoggedInFlag  ServerID  VisitPageFlag
0         1  39.13.114.2             1         2              0
1         2    13.3.25.8             1         1              0
2         3  247.8.211.8             1         1              0
3         4  124.8.220.3             0         3              0
4         5  60.10.192.7             0         2              0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184588 entries, 0 to 184587
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   RecordID       184588 non-null  int64
 1   IP Address     184588 non-null  object
 2   LoggedInFlag   184588 non-null  int64
 3   ServerID       184588 non-null  int64
 4   VisitPageFlag  184588 non-null  int64
dtypes: int64(4), object(1)
memory usage: 7.0+ MB

In [6]:
df['LoggedInFlag'].value_counts()

1    92969
0    91619
Name: LoggedInFlag, dtype: int64

In [14]:
df['LoggedInFlag'].mean()

0.5036567924242096

In [7]:
df['ServerID'].value_counts()

1    61591
3    61534
2    61463
Name: ServerID, dtype: int64

In [8]:
df['VisitPageFlag'].value_counts()

0    173848
1     10740
Name: VisitPageFlag, dtype: int64

In [ ]:
pd.crosstab()

In [13]:
df['VisitPageFlag'].mean()

0.05818363057186816

## mean

In [19]:
df.describe()

            RecordID   LoggedInFlag       ServerID  VisitPageFlag
count  184588.000000  184588.000000  184588.000000  184588.000000
mean    92294.500000       0.503657       1.999691       0.058184
std     53286.110082       0.499988       0.816719       0.234091
min         1.000000       0.000000       1.000000       0.000000
25%     46147.750000       0.000000       1.000000       0.000000
50%     92294.500000       1.000000       2.000000       0.000000
75%    138441.250000       1.000000       3.000000       0.000000
max    184588.000000       1.000000       3.000000       1.000000

In [34]:
df_2= df.groupby(by='IP Address')['VisitPageFlag'].sum().reset_index(name='sum_VisitPageFlag')

In [35]:
df_2.sort_values(by='sum_VisitPageFlag', ascending=False)

         IP Address  sum_VisitPageFlag
94843   89.13.192.2                  4
34367  178.14.224.9                  3
41463   194.2.158.8                  3
90434    78.8.166.9                  3
90408     78.6.64.3                  3
...             ...                ...
34884    179.5.55.6                  0
34883    179.5.46.7                  0
34882    179.5.35.5                  0
34881   179.5.246.7                  0
99515     99.9.86.9                  0

[99516 rows x 2 columns]

In [33]:
df_2['sum_VisitPageFlag'].value_counts()

2    41667
1    39608
3    12664
4     4398
5     1030
6      138
8        5
7        5
9        1
Name: sum_VisitPageFlag, dtype: int64